USE [Library]
GO
/****** Object:  Table [dbo].[books]    Script Date: 10/27/2006 16:03:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[books](
	[book_id] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[book_name] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[price] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[au_id] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[pub_id] [varchar](5) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[dt_of_publish] [datetime] NULL,
 CONSTRAINT [PK_books] PRIMARY KEY CLUSTERED 
(
	[book_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF