IF Not EXISTS (SELECT * FROM sys.databases WHERE name = 'Library')
 BEGIN
     Create Database Library
 END
 GO 


IF EXISTS (SELECT * FROM sys.databases WHERE name = 'Library')
 BEGIN
     Drop DATABASE Library
	 Create Database Library
 END
 GO 

 